[
    {
        "scope": "https://accounts.google.com:443",
        "method": "GET",
        "path": "/.well-known/openid-configuration",
        "body": "",
        "status": 200,
        "response": {
            "issuer": "https://accounts.google.com",
            "authorization_endpoint": "https://accounts.google.com/o/oauth2/v2/auth",
            "device_authorization_endpoint": "https://oauth2.googleapis.com/device/code",
            "token_endpoint": "https://oauth2.googleapis.com/token",
            "userinfo_endpoint": "https://openidconnect.googleapis.com/v1/userinfo",
            "revocation_endpoint": "https://oauth2.googleapis.com/revoke",
            "jwks_uri": "https://www.googleapis.com/oauth2/v3/certs",
            "response_types_supported": [
                "code",
                "token",
                "id_token",
                "code token",
                "code id_token",
                "token id_token",
                "code token id_token",
                "none"
            ],
            "subject_types_supported": [
                "public"
            ],
            "id_token_signing_alg_values_supported": [
                "RS256"
            ],
            "scopes_supported": [
                "openid",
                "email",
                "profile"
            ],
            "token_endpoint_auth_methods_supported": [
                "client_secret_post",
                "client_secret_basic"
            ],
            "claims_supported": [
                "aud",
                "email",
                "email_verified",
                "exp",
                "family_name",
                "given_name",
                "iat",
                "iss",
                "locale",
                "name",
                "picture",
                "sub"
            ],
            "code_challenge_methods_supported": [
                "plain",
                "S256"
            ],
            "grant_types_supported": [
                "authorization_code",
                "refresh_token",
                "urn:ietf:params:oauth:grant-type:device_code",
                "urn:ietf:params:oauth:grant-type:jwt-bearer"
            ]
        },
        "rawHeaders": [
            "bytes",
            "Content-Type",
            "application/json",
            "*",
            "1280",
            "Mon, 22 Jun 2020 17:24:23 GMT",
            "Mon, 22 Jun 2020 18:24:23 GMT",
            "Last-Modified",
            "Thu, 16 Jan 2020 21:53:16 GMT",
            "nosniff",
            "sffe",
            "0",
            "3443",
            "public, max-age=3600",
            "h3-28=\":443\"; ma=2592000,h3-27=\":443\"; ma=2592000,h3-25=\":443\"; ma=2592000,h3-T050=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q049=\":443\"; ma=2592000,h3-Q048=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://accounts.google.com:443",
        "method": "GET",
        "path": "/.well-known/oauth-authorization-server",
        "body": "",
        "status": 404,
        "response": "<!DOCTYPE html><html lang=en><meta charset=utf-8><meta name=viewport content=\"initial-scale=1, minimum-scale=1, width=device-width\"><title>Error 404 (Not Found)!!1</title><style nonce=\"5RszYEZPXg5B79ug/XJ/4w\">*{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{color:#222;text-align:unset;margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px;}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}pre{white-space:pre-wrap;}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}</style><div id=\"af-error-container\"><a href=//www.google.com><span id=logo aria-label=Google></span></a><p><b>404.</b> <ins>That’s an error.</ins><p>The requested URL was not found on this server. <ins>That’s all we know.</ins></div>",
        "rawHeaders": [
            "no-cache, no-store, max-age=0, must-revalidate",
            "no-cache",
            "Mon, 01 Jan 1990 00:00:00 GMT",
            "Mon, 22 Jun 2020 18:21:46 GMT",
            "Content-Type",
            "text/html; charset=utf-8",
            "chunked",
            "script-src 'report-sample' 'nonce-5RszYEZPXg5B79ug/XJ/4w' 'unsafe-inline' 'unsafe-eval';object-src 'none';base-uri 'self';report-uri /cspreport",
            "nosniff",
            "1; mode=block",
            "GSE",
            "h3-28=\":443\"; ma=2592000,h3-27=\":443\"; ma=2592000,h3-25=\":443\"; ma=2592000,h3-T050=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q049=\":443\"; ma=2592000,h3-Q048=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://www.googleapis.com:443",
        "method": "GET",
        "path": "/oauth2/v3/certs",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08000000000002ff8d935b8fa24a1446dffb57189fc7044aaef3066a21822057959313530505227217b974e6bf8fdd33273d4f93f3b2b3b3922f3b3b2bdffbdb6c36cfc8d8cebfcffe79edb3d9fbe77c51744f5e706e3b80e5e6dffea3591a7d504c7311a13140980a690e85140a638e0324a6e89867399eb00c035880be82c5478c27517f83ae2300a353f640340c98c16744158ae3[...]
